<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join the Club</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <h1>Join the Club!</h1>
  <p><%= message %></p>
  <form action="/club" method="post">
    <div class="input-group">
      <label for="club-password">Enter the password to get in:</label>
      <input type="password" name="clubPassword" id="club-password" required>
    </div>
    <div class="btn-container">
      <button class="submit-btn" type="submit">Submit</button>
    </div>
  </form>
</body>
</html>