<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message board</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>Message board</h1>
  <% if (user) { %>
    <p>Welcome <%= user.username %></p>
    <a href="/logout">Log out</a>
    <% if (!user.member) { %>
      <a href="/club">Join the club</a>
    <% } %>
  <% } else { %>
    <a href="/sign-up">Sign up</a>
    <a href="/login">Log in</a>
  <% } %>
</body>
</html>